[submodule "skills/task-observer"]
	path = skills/task-observer
	url = https://github.com/rebelytics/one-skill-to-rule-them-all.git
[submodule "skills/gstack"]
	path = skills/gstack
	url = https://github.com/garrytan/gstack.git
