<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.nik.mediaunlock</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__SERVER__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key><string>__HOME__</string>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>MEDIAUNLOCK_PORT</key><string>__PORT__</string>
    <key>MEDIAUNLOCK_BROWSER</key><string>safari</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__HOME__/.media-unlocker/server.log</string>
  <key>StandardErrorPath</key><string>__HOME__/.media-unlocker/server.err.log</string>
</dict>
</plist>
